.idea

.idea/

.vs
.vs/
ticketanica/.vs/

ticketanica/[Bb]in/
ticketanica/[Oo]bj/

ticketanica/[Dd]ebug/
ticketanica/[Dd]ebugPublic/
ticketanica/[Rr]elease/
ticketanica/[Rr]eleases/

TicketanicaTest/bin
TicketanicaTest/obj